:root{
    --orange: #f1a536;
}
/*Universal Stuff*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
header{
    width: 100%;
    background-color: #f1a536;
    height: 10vh;
}
nav{
    width: 90%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding-left: 50px;
    list-style-type: none;
    font-size: 1.1rem;
}
nav ul li a{
    color: black;
    text-decoration: none;
    
}
/*First Page Top*/
.mainUnderHeader{
    background-image: url(/images/hero-image.jpg);
    width: 100%;
    height: 74vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 5%;
    position: relative;
}
.heroText{
    background-color: white;
    width: 775px;
    font-size: 2.15rem;
    position: absolute;
    bottom: 100px;
    text-align: center;
    left: 500px;
    padding: 5px;
}

/*Everyday Categories*/

.everydayCategories{
    background-color: white;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
}
.everydayContentContainer{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
.everydayHeader{
    font-size: 1.8rem;
}
.everydayP{
    font-size: 1.3rem;
}
.everydayImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 50px;
}
.everydayImages p{
    padding-top: 15px;
    text-align: center;
}
.everydayImage{
    width: 33%;
}

/*Healthy Recipes section*/

.healthyOfTheWeek{
    background-color: #dadfea;
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0px;
}
.healthyOfTheWeekContainer{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
.healthyHeader{
    font-size: 1.8rem;
}
.healthyP{
    font-size: 1.3rem;
}
.healthyImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.healthyImages p{
    padding-top: 15px;
    text-align: center;
    margin-top: -10px;
    padding: 15px;
    background-color: white;
}
.healthImage{
    width: 33%;
    object-fit: contain;
}


/*Where To Eat Section*/
.whereToEat{
    background-color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}
.whereContainer{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
.whereHeader{
    font-size: 1.8rem;
}
.whereP{
    font-size: 1.3rem;
}
.whereImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 50px;
}
.whereImages p{
    padding-top: 15px;
    text-align: center;
}
.whereImage{
    width: 33%;
}
.whereImage img{
    border: 5px solid #dadfea;
}



/* RECIPE PAGE */

.recipeUnderHeader{
    background-image: url(/images/burger.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: 100%;
}
.timeSection{
    height: 20vh;
    background-color:#dadfea;
}
.timeInfo{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}
.timeInfo h1{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2rem;
}
.timeInfoThings{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.timeInfoThings p{
    padding-bottom: 20px;
    font-size: 1.3rem;
}

/* REVIEW PLACE */

.saveAndReview{
    max-width: 90%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.topHalf{
padding-top: 100px;
width: 100%;
height: 28%;
}
.topHalf h1{
    font-size: 3.2rem;
    letter-spacing: -2px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
}
.reviewArea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
   color: #a63223;
   letter-spacing: -13px;
    margin-top: -3px;
    padding-right: 25px;
}
.saveArea{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #6b6b6b;
  margin-top: -2px;
  padding-left: 25px;
}

.saveButton{
    background-color: #a63223;
    color: white;
    border: 0;
    padding: 10px 25px;
    border-radius: 100vh;
    cursor: pointer;
}
.bottomHalf{
    width: 100%;
    height: 58%;
    background-color: #eef0f4;
}
.bottomHalfContainer{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.bottomHalfContainer p{
    color: #575656;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.howToMake{
    padding-top: 100px;
    height: 110vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}
.leftSide{
    flex: 33%;
    height: 100%;
}
.leftSide li{
    margin-left: 1em;
}
.leftSide ul p{
    padding-left: 20px;
}
.howToMake h2{
    padding-bottom: 20px;
    font-size: 2rem;
}

.rightSide{
    flex: 66%;
    height: 100%;
}
.rightSide li{
    padding-bottom: 35px;
    margin-left: 1em;
}
.rightSide ol p {
    padding-left: 15px;
}
/*FOOTER*/

footer{
    height: 10vh;
    background-color: var(--orange);
    width: 100%;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
    background-color: var(--orange);
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
footer ul{
    display: flex;
}
footer ul li{
    padding-left: 25px;
    list-style-type: none;
    cursor: pointer;
}